/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 101.01%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ul { list-style: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* overrides */
body { background:#261b0d; text-align:center; font-family:"Book Antiqua", Palatino, serif; }
h1, h2, h3, h4 { margin-bottom:7px; font-size:200%; }
h1 { font-size:250%; }
h2 { font-size:150%; }
h3 { font-size:120%; }
h4 { font-size:110%; }
a:link, a:visited { color:#5B732D; }
a:hover, a:active { color:#8a265b; }

/* LAYOUT */
#outer_wrapper { min-height:610px; text-align:left; margin:0 auto; padding:105px 0 250px 0; background:url(/images/ui/thelodge/lodge-bg.jpg) no-repeat bottom center; }
#inner_wrapper { width:740px; min-height:541px; margin:0 auto; position:relative; background:url(/images/ui/thelodge/wrapper-bg.jpg) repeat-y top center; }

#header { position:relative; height:60px; background:url(/images/ui/thelodge/wrapper-bg-top.jpg) no-repeat top center; }
#logo { width:316px; height:168px; position:absolute; top:-55px; left:-57px; background:url(/images/ui/thelodge/lodge-logo.png) no-repeat top center; }
#address { padding:20px 7px 0 0; }

#content_wrapper { padding:100px 15px 40px 15px; clear:both; min-height:340px; }
#nav { float:left; width:178px; padding:10px 0 0 18px; }
#nav ul li a { color:#000; display:block; padding:3px 0; font-family:Impact, Arial, sans-serif; font-size:195%; text-decoration:none; }
#nav ul li a.active, #nav ul li a:hover, #nav ul li a:active { text-shadow:0 0 13px #e1d7a7; }
#content_outer { float:left; position:relative; width:491px; }
#content {
	font-size:80%;
	line-height:1.3;
	padding:30px 0 25px 0;
	margin-left:33px;
	background:url(/images/ui/thelodge/content-bg-top.jpg) no-repeat top center;
}
#content .content_inner { padding:0 35px 0 45px; min-height:293px; padding-bottom:10px; padding-top:10px; background:url(/images/ui/thelodge/content-bg-mid.jpg) repeat-y; }
#btm_content_bg { height:39px; background:url(/images/ui/thelodge/content-bg-btm.jpg) no-repeat bottom center; }
#content h2 { font-size:140%; }
#content p { margin:0 0 7px 0; }
#content > form { margin-bottom:10px; }
#content fieldset { color:#261b0d; text-shadow:0 1px 1px yellow; font-family:"Lucida Console", Monaco, sans-serif; }
#content fieldset legend { font-size:110%; margin:5px 0 7px 0; }
#content fieldset .collapseable { color:#818181; }
#content .notice { position:absolute; top:-40px; width:73%; }

#footer { position:relative; top:33px; }
#twitter, #specials, #facebook { position:absolute; }
#twitter { top:-108px; left:3px; }
#specials { width:112px; height:136px; top:-77px; left:340px; line-height:1.2; text-align:center; padding:30px 7px 0 7px; color:#687d39; background:url(/images/ui/thelodge/postit-bg.png) no-repeat top center; }
#facebook { right:8px; top:-82px; }

/* lodge theme customizations */
#greyrobot { width:740px; margin:0 auto; position:absolute; top:180px; }
#users_controller #content .round { color:yellow; text-shadow:0 1px 1px #000; }
.region_footer .model_options { position:absolute; right:-40px; }
#food_menu_page h4 { text-align:center; }
#food_menu_page ul { margin-bottom:7px; }
#food_menu_page ul li { padding-bottom:5px; }

#events_list li { padding-bottom:14px; }

/* forms */
.text_field, .text_area { margin-bottom:5px; }
.text_field input, .text_area textarea { opacity:.6; -moz-opacity:.6; font-size:100%; }

/* views */
.inner { padding:3px; }
.index > div { width:25.5%; }
.box_view .image img { width:100%; }
.shadow_wrap input, .shadow_wrap textarea { width:99%; }
.small_textarea { height:60px; }

/* admin views */
#body .list_view { margin-top:10px; }
.list_view li { padding:8px 8px 10px; margin:7px 0; overflow:hidden; }
.list_view li.even { background-color:#fff; }
.list_view li > a { display:block; float:left; min-width:180px; }
.list_view li img { width:10%; }

#body .table_view { width:100%; }
.table_view { margin:10px 5px; width:100%; }
.table_view thead th { text-align:center; padding:3px 2px 5px 2px; font-size:70%; }
.table_view td { padding:5px; vertical-align:middle; }
.table_view tbody td { font-size:60%; }
.table_view td img { width:100px; }
.table_view .admin_options { text-align:center; }

/* CONTENT CLASSES */
.accessible_img_link { text-indent:-99999px; }
.right { float:right; }
.white { color:#fff; }
.buttons a { color:#fff; text-shadow:0 1px 1px #000; font-size:100%; }
.grey_buttons { display:inline; }
.grey_buttons a { font-size:60%; }
.content_scrollable { overflow: auto; width:106%; }
.h210 { height: 210px; }
.h230 { height: 230px; }
.h260 { height: 260px; }
.staticContent img { border:2px solid #835F30; }
.staticContent a img:hover { border-color:#E0A75D; }