<div class="widget_wrap">
<% if in_edit_mode? %>
	<div class="edit inner">
		<h4>Edit Slideshow</h4>
		
		
	</div>
<% else %>
	<div class="show inner">
		<h4>Sample Widget Slideshow</h4>
		
		
	</div>
<% end %>
</div>
<%= javascript_include_tag 'widgets/slideshow' %>