@charset "utf-8";

/* Content Classes */
.wrap { width:940px; padding:0 5px; margin:0 auto; }
.region { position:relative; }
.clear { clear:both; }
.text-right { text-align:right; }
.center { text-align:center; }
.inline { display:inline; }
.left { float:left; }
.right { float:right; }
img.left { margin:0 0 7px 7px; }
img.right { margin:0 7px 7px 0; }
.odd { background-color:#ebebeb; }
.even { background-color:#fff; }
.inner { padding:0 18px; }
.framed { padding:12px; }
.small_stack { margin-bottom:7px; }
.right_space { margin-right:10px; }
.left_space { margin-left:10px; }
.stack { margin-bottom:14px; }
.divided { border-bottom:2px dashed #ebebeb; padding-bottom:10px; }
.subpage { background:url(/images/ui/page-bg.png) no-repeat top center; padding-top:17px; }
.content { background:#fff; }
.uncollapse { overflow:hidden; }
.hide { display:none; }
.toggle, .note { font-size:12px; }
.plain { list-style-type:none; }
.form_buttons input { width:auto; margin:0 7px 0 0; }
.html_wrap { padding:5px 7px; background-color:#ebebeb; font-size:10px; }
.odd .html_wrap { background-color:#fff; }
.horizontal li { display:inline; }
span.active { cursor:default; }

/* admin menu */
#admin_menu { height:16px; font-size:12px; padding:3px; background:#ebebeb; }
#content_menu { position:relative; }
#resource_list { position:absolute; top:17px; z-index:1000; background:#ebebeb; }
#resource_list li a { padding:3px 5px; display:block; }

/********************* added in from old greyCMS stylesheet **********************/
/* round borders */
.round, .shadow_wrap { 
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.medium_round, .html_wrap {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.small_round, .region_label {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/* shadows */
.box { 
	-moz-box-shadow:1px 1px 5px rgba(100,100,100,0.8);
	-webkit-box-shadow:1px 1px 5px rgba(100,100,100,0.8);
	box-shadow:1px 1px 5px rgba(100,100,100,0.8);
}

/* model index */
/*.index { margin-right:-2.2%;}*/
.index > div { width:28.3%; min-height:130px; float:left; margin:0 22px 22px 0; padding:5px 7px 9px 7px; }
.index > div:last-child { margin-right:0; }
.index label { display:block; }
.User .email { font-size:10px; }\

/* gallery */
#gallery_images { padding-right:0; }
#gallery_images fieldset { padding-right:0; }
#gallery_images img { width:75px; }
.image_wrap { margin-right:9px; }
.image_wrap img { display:block; }
.image_wrap a { font-size:10px; text-decoration:none; }


/* forms */
form .title, form .description { margin:0; }
.title { font-weight:bold; }
.row_checkable { margin:0; padding:5px 5px 5px 0; overflow:hidden; }
.row_checkable:hover { background:#dadada; } 
.row_checkable .left { margin:3px 7px 3px 10px; }
.js .row_checkable { cursor:pointer; }

label[for="content"] { float:none; }
.small_label { width:auto; }
.block_label { display:block; float:none; margin-bottom:3px; }
.big_textarea { width:97.5%; height:200px; }
.medium_textarea { height:150px; }
.small_textarea { height:75px; }

div.field_wrap, div.available { margin:0; }

/* helpers */
.wysiwyg { font-size:80%; font-family:Geneva, Courier, monospace; }
.hint_text { font-style:italic; color:#999; }


/* helptext */
.helptext { font-size:80%; width:100%; border:2px dashed #87c881; }
.helptext .ajax_action { color:#87c881; padding:2px 4px; margin:-2px -1px 0 0; font-size:10px; } /* hide the option by using the same color as background until mouseover */
.helptext .toggle_action { color:#333; float:right; margin-bottom:7px; clear:both; }
.helptext:hover .ajax_action { color:#666; background-color:#BBE3B7; }
.helptext .helptext_options { padding:6px 7px; }
.helptext .inner { padding:5px 7px; }
.helptext .inner > p { margin-top:0; }
.helptext .examples { font-size:90%; padding:5px 7px; margin-top:22px; background-color:#BBE3B7; }
.helptext .examples p { margin:3px 3px 7px 3px; }
.helptext_text p { margin:0 0 7px 0; }
.helptext_text p:first-child { margin:0; }

#add_helptext_link { position:absolute; top:4px; right:29px; z-index:9999; }

/* views */
#body .list_view { margin-top:10px; }
.list_view li { padding:8px 8px 10px; margin:7px 0; overflow:hidden; }
.list_view li.even { background-color:#fff; }
.list_view li > a { display:block; float:left; min-width:180px; }
.list_view li img { width:10%; }
#left .list_view , #right .list_view { font-size:85%; }
#left .list_view .timestamp , #right .list_view .timestamp { display:block; }
.block_models_view .buttons a.edit_link:link,
.block_models_view .buttons a.edit_link:hover,
.block_models_view .buttons a.edit_link:visited,
.block_models_view .buttons a.delete_link:link,
.block_models_view .buttons a.delete_link:hover,
.block_models_view .buttons a.delete_link:visited { border:0 none }

#body .table_view { width:100%; }
.table_view { margin:10px 5px; }
.table_view thead th { text-align:center; padding:5px 0 7px 0; }
.table_view td { padding:10px 15px; vertical-align:middle; max-width:130px; }
.table_view td:first-child { max-width:150px; }
.table_view td img { width:150px; }
.table_view .admin_options { text-align:center; }
.table_view { background-color:#fff; }

/* icons */
.icon16 { padding-left:22px; background-position:left; background-repeat:no-repeat; }
.iconOnly16, a.iconOnly16, 
.block .buttons a.iconOnly16,
#view_type_link_wrap .iconOnly16 { text-indent:-999999px; background-repeat:no-repeat; display:block; padding:1px 9px; }
.add_link { background-image:url(/images/ui/plus_sign.png); }
.delete_link,
 .block_models_view .buttons a.delete_link, .plain .buttons a.delete_link { background-image:url(/images/ui/delete_icon.png); }
.cancel_link { background-image:url(/images/ui/cancel_icon.png); }
.question_mark { background-image:url(/images/ui/question_mark.png); }
.list_icon { background-image:url(/images/ui/list_icon.png); }
.blog_roll_icon { background-image:url(/images/ui/blog_roll_icon.png); }
.box_icon { background-image:url(/images/ui/box_icon.png); }
.table_icon { background-image:url(/images/ui/table_icon.png); }

a.loading { padding-left:26px !important; background:url(/images/ui/ajax-loader-facebook.gif) no-repeat 10% 54% !important;}
a.toggle_right { padding-left:14px; background:url(/images/ui/toggle_icon-right.png) no-repeat left; }
a.toggle_down { background-image:url(/images/ui/toggle_icon-down.png); }

.buttons .edit_link,
.buttons .edit_link:hover,
.plain .buttons a.edit_link,
#page_buttons .edit_link { background:url(/images/ui/edit_icon.png) no-repeat 0 !important; }
.block .buttons .toggle_right,
.block .buttons .toggle_right:hover,
#page_buttons .toggle_right,
#page_buttons .toggle_right:hover { background:url(/images/ui/hide_icon.png) no-repeat 0; }
.block .buttons .toggle_down, .block .buttons .toggle_down:hover,
#page_buttons .toggle_down, #page_buttons .toggle_down:hover { background:url(/images/ui/show_icon.png) no-repeat 0; }


#view_type_link_wrap { margin:0 0 5px 0; font-size:90%; }
#view_type_link_wrap li { margin:0 2px; }
#view_type_link_wrap li a:hover, #view_type_link_wrap li a:active, 
#view_type_link_wrap .active { border:1px solid #dadada; padding:1px 8px; }


/* Rails defaults */
.notice, .warning, .error, .flash-error { padding:7px 12px; width:80%; font-weight:bold; margin:0 0 10px 0; border:2px solid; }
.notice p, .warning p, .error p, .flash-error p { margin:3px 0; }
.notice { color:#87c881; border-color:#87c881; }
.warning { color:#ff9646; border-color:#ff9646; }
.error, .flash-error { color:#a63217; border-color:#a63217; }

.invalid { color:#fff; }
.fieldWithErrors, .invalid {
  padding: 1px 1px 2px 6px;
  background-color: #a63217;
	margin:0 !important;
	display:block;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#errorExplanation {
  border: 2px solid #a63217;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:1px 1px 5px rgba(100,100,100,0.8);
	-webkit-box-shadow:1px 1px 5px rgba(100,100,100,0.8);
	box-shadow:1px 1px 5px rgba(100,100,100,0.8);
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #a63217;
  color: #fff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: inside circle;
	padding-left:7px;
}