<% declare_content_for %>
<%= display_message flash %>

<%= render :partial => 'shared/model_options', :locals => { :model => model, :edit_path => edit_model_path(model), :hide_anchor => 'hide_collapseable_staticContent' } %>
	
<%= show_title model %>

<div class="collapseable">
	<%= render_model_content(model) %>
</div>