<div id="type-one-top-bar">
	<div id="type-one-top-bar-head">
	   <ul>
		 		 <li id="list-name"><a href=""><span class="hidden">List by </span>Facility name</a></li>
				 <li id="list-miles"><a href=""><span class="hidden">List by </span>Miles</a></li>
		 </ul>
	</div>
		 
	 <div id="rslt-list-bg">
			
			<%= render :partial => 'listings/result', :collection => @model_data %>
			<% if @model_data.blank? %>
        <div class="no_results framed">
          Sorry, that search didn't return any results. Try using less filter options.
        </div>
      <% end %>
				
	</div>
		 
  <div class="pagination">
    <p class="rslt-foot">
      <%= image_tag '/images/ui/ajax-loader-facebook.gif', :class => 'ajax_loader right' %>&nbsp;
      <%= more_results_link(@model_data) %>
    </p>
    <span id="per_page" class="hidden"><%= @model_data.per_page if @model_data.respond_to?(:per_page) %></span>
  </div>
</div>
