<div id="PermissionFields" class="permissionFields partial_addable">
	
	<%= render :partial => 'shared/model_addable_fields', 
			       :locals => { 
			         :f          => f, 
			         :_for       => 'permissions', 
			         :context    => 'PermissionFields', 
			         :collection => @permissions, 
			         :new_model  => Permission.new } %>
	
</div>