body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	color:#333;
	font-size:100.01%;
	line-height:1.1;
}
p { margin-bottom:10px; }
a:link, a:visited { text-decoration:none; }
a:hover, a:active { text-decoration:underline; }
input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus { background:#ebebeb; }

/***** LAYOUT *****/
#header { height:220px; }
#header_btm { height:47px; position:relative; z-index:250; background:url(/images/ui/storagelocator/header-bg-strip.png) repeat-x bottom; }
#header .inner_wrap { margin-top:40px; }
#logo { width:650px; position:relative; z-index:350; top:-9px; }

#nav { position:relative; top:-107px; }
#nav .right { position:relative; z-index:500; padding-left:10px; background:url(/images/ui/storagelocator/nav-bg-lft.png) no-repeat top left; }
#nav .right > ul { overflow:hidden; padding-right:10px; background:url(/images/ui/storagelocator/nav-bg-rgt.png) no-repeat top right; }
#nav .right > ul > li { float:left; padding:5px 0; background:url(/images/ui/storagelocator/nav-bg-strip.png) repeat-x; }
#nav a { color:#333; padding:3px 8px 3px 28px; font-size:85%; margin-right:10px; display:block; border-right:1px solid #d1d1d1; }
#nav li:last-child a { border:0 none; margin-right:0; }
#nav a[href="/home"] { background:url(/images/ui/storagelocator/icons/home-icon.png) no-repeat 0 45%; }
#nav a[href="/storage-locator"] { background:url(/images/ui/storagelocator/icons/locator-icon.png) no-repeat 0 45%; }
#nav a[href="/storage-tips"] { background:url(/images/ui/storagelocator/icons/tips-icon.png) no-repeat 0 45%; }
#nav a[href="/add-your-facility"] { background:url(/images/ui/storagelocator/icons/add-icon.png) no-repeat 0 45%; }

#body { width:100%; }
#garage_door_wrap { position:relative; margin-top:-20px; background:url(/images/ui/storagelocator/body-bg-strip.png) repeat bottom; }
#garage_door_wrap .content_wrap { position:relative; z-index:300; top:-71px; }
#handle { width:196px; height:51px; position:relative; top:-20px; margin-top:-25px; background:url(/images/ui/storagelocator/handle.png) no-repeat; }

#main_image { margin-top:-17px; position:relative; }
#main_image img { vertical-align:top; }
#main_image h3 { height:45px; margin:-43px 0 0 1px; padding:35px 0 0 0; position:relative; z-index:100; background:url(/images/ui/storagelocator/storage-pic-bg-btm.png) no-repeat bottom; }
#main_image h3 a:link, #main_image h3 a:visited { color:#fff; font-size:140%; }
#blackbox { width:230px; height:89px; padding:20px 20px 20px 30px; position:absolute; top:160px; left:3px; font-size:200%; font-weight:bold; line-height:1.3; background:url(/images/ui/storagelocator/black.png) center; }

#main_search { width:366px; margin-bottom:20px; background:url(/images/ui/storagelocator/search-bg-btm.png) no-repeat bottom center; }
#main_search .inner { padding:0; background:url(/images/ui/storagelocator/search-bg-top.png) no-repeat top center; }
#search_header { height:60px; padding:6px 20px 6px 5px; position:relative; }
#loupe { width:83px; height:85px; position:absolute; z-index:600; background:url(/images/ui/storagelocator/loupe.png) no-repeat left center; }
#search_form { width:362px; height:311px; color:#333; background:url(/images/ui/storagelocator/search-bg-strip.png) repeat-x; }
#search_header .inner { padding:7px 0 10px 92px; background:none; font-size:118%; line-height:1.1; font-weight:bold; color:#fff; text-shadow:1px 1px 2px #333; }
#search_form .inner { padding:0; margin:25px 45px; background:none; font-size:80%; letter-spacing:-.9px; }
#search_form input.text { width:86%; font-size:130%; }
#search_form p { margin-bottom:18px; }
#open_advanced_search { padding:4px 24px 4px 3px; margin-top:20px; color:#333; background:url(/images/ui/storagelocator/icons/more-options.png) no-repeat right center; }
#near_city { padding:11px 0 11px 25px; }
#near_city a { color:#333; display:block; width:45%; margin:0 12px 0 0; float:left; padding:2px 0; }

#column_5 .inner { padding:0; }

#narrow_results { width:249px; background:url(/images/ui/storagelocator/narrow-results-bg-strip.png) repeat-x top center; }
#narrow_results .inner { padding:0; }
#narrow_search_header { height:50px; padding:6px 43px 0 17px; }
#narrow_search_form {  min-height:300px; padding:25px 43px 14px 17px; }
#narrow_search_form input.text { width:124px; padding:5px 14px; }
#narrow_search_form p { font-size:80%; letter-spacing:-.9px; }
.floating_ads { width:240px; height:300px; background:#ccc; margin-bottom:20px; }
.floating_ads:last-child { margin-bottom:0; }

.storage_locator #inner_wrap .content_inner, .pages_2 #inner_wrap .content_inner { width:100%; }
.storage_locator #sidebar, .pages_2 #sidebar, .pages_2 #column_5, .storage_locator_wrap { float:left; }
.storage_locator_wrap, .pages_2 #column_5 { width:75%; margin:-38px 0 0 -50px; }
#listings_header .inner { height:177px; padding:17px; margin:1px 1px 0 1px; background:url(/images/ui/storagelocator/results-bg-top-strip.png) repeat-x top; }
#listings_search_wrap { background:#fff; padding:1px; }
#listings_search_wrap .inner { height:85px; padding:15px; margin:0; background:url(/images/ui/storagelocator/results-bg-img.jpg) no-repeat bottom right #fff; }
#listings_search_wrap h4 { margin:3px 0 0 30px; font-size:120%; }
#listings_search_wrap h4 span { border:1px solid; padding:1px 5px; background:#eee; }
#listings_search_wrap .inner div { margin:24px 0 0 50px; }
#query_main { width:250px; padding:3px 7px; font-size:110%; }
#main_search_btn { margin-left:-12px; }
#sorting_by { margin:8px 0 8px 30px; }
#listings_table_head { height:38px; margin:0 -18px; position:relative; bottom:-4px; background:url(/images/ui/storagelocator/table-top-bg-strip.png) repeat-x top; }
#listings_main { padding:1px 2px 0; }
#listings_main > .inner { width:96%; padding:7px 14px; position:relative; z-index:650; background:url(/images/ui/storagelocator/listings-grey-bg-strip.png) repeat-x top #e5e5e5; }

.mesh { padding:0 2px; margin-top:6px; background:url(/images/ui/storagelocator/mesh.gif); }
.listing { margin:0 0 7px 0; }
.listing:last-child { margin-bottom:0; }
#listings_main .listing > .inner { height:78px; background:url(/images/ui/storagelocator/result-bg-strip.png) repeat-x; cursor:pointer; }
#listings_main .listing > .inner, #listings_main .panel { padding:12px 14px; }
#listings_main .listing > .inner:hover, #listings_main .listing.active > .inner { background:url(/images/ui/storagelocator/result-bg-strip-over.png) repeat-x; }
.listing h4 { margin-bottom:10px; }
.field { height:77px; padding-right:14px; }
.field_frame { padding:23px 17px 0 22px; }
.small_field_frame { padding:10px 0 0 0; }
.listing .contact { width:150px; }
.listing .distance { width:66px; }
.tagline, .reserve { padding-right:0; }
.tagline { width:26%; line-height:1.2; }
.tagline h5 { margin-bottom:3px; }
.reserve_btn_wrap { width:94px; height:78px; padding:22px 0 0 9px; margin-left:21px; position:relative; z-index:675; top:-12px; cursor:pointer; background:url(/images/ui/storagelocator/reserve-bg-strip.png) repeat-x; }
.reserve_btn { width:65px; height:24px; padding:15px 10px; font-size:140%; background:url(/images/ui/storagelocator/reserve-btn.png) no-repeat }
.reserve_btn:hover { text-decoration:none; }

#listings_main .panel { width:92%; height:250px; margin:0 auto; background:#ffffda; position:relative; z-index:600; }
.panel h5 { padding:12px 17px; margin-bottom:0; font-size:140%; background:#cc3300; }
#column_5 .panel .inner { height:72%; padding:13px 16px; position:relative; z-index:550; background:#fff; }
.panel .inner .left { width:48%; }
.panel .inner .right { width:47%; margin-top:-41px; }
.panel .inner h6 { font-size:120%; }
.panel .inner h6, .panel .inner p { margin-bottom:14px; }
.tabs { margin-left:30px; }
.tabs .left a, .panel .inner .map_controls li { padding:2px 12px 3px 40px; margin:0 4px 0 0; color:#fff; background-color:#ccc; }
.panel .inner .map_controls li { padding-left:12px; }
.tabs .tab_link:hover { text-decoration:none; background-color:#444da0; }
.tabs .map { background:url(/images/ui/storagelocator/icons/map-icon.png) no-repeat 23% 50%; }
.map_wrap { background:url(/images/ui/ajax-loader-lrg.gif) no-repeat center #fff; border:1px solid #ccc; }
.tabs .specials { background:url(/images/ui/storagelocator/icons/specials-icon.png) no-repeat 19% 15%; }
.tabs .sizes { background:url(/images/ui/storagelocator/icons/sizes-icon.png) no-repeat 23% 35%; }
.tabs .pictures { background:url(/images/ui/storagelocator/icons/pictures-icon.png) no-repeat 16% 13%; }
.tabs .progress { width:79px; height:38px; margin:-21px 28px 0 0; position:relative; z-index:500; background:url(/images/ui/storagelocator/result-loading-bar.png) no-repeat; }
.tabs div.active { background:url(/images/ui/storagelocator/result-loading-bar-active.png) no-repeat; }
.tabs a.active, .tabs a.active:hover { color:#999; background-color:#ffffda; }
.address { font-size:85%; }

#steps { height:197px; position:relative; z-index:200; background:url(/images/ui/storagelocator/steps/steps-bg-strip.png) repeat-x center; }
#steps > div { width:27.95%; position:relative; margin-right:25px; padding:25px 0 0 25px; }
#steps .inner { padding:0 25px 0 0; width:100%; border-right:1px solid #e1e1e1; }
#steps .last { margin-right:0; }
#steps .last .inner { border:0 none; }
#steps .step_icon { position:absolute; top:8px; left:8px; }
#steps .step_pic { width:255px; height:79px; margin-bottom:10px; }
#steps h4 { font-size:140%; color:#333; }
#steps h4, #steps p { margin:0; display:inline; }
#steps p { font-size:75%; letter-spacing:-1px; }

#click_for_more { width:226px; height:56px; padding-top:18px; text-align:center; position:absolute; z-index:100; cursor:pointer; left:44px; bottom:-64px; background:url(/images/ui/storagelocator/click-for-more.png) no-repeat; }

#footer { margin-top:-8px; padding-top:18px; font-size:84%; position:relative; z-index:500; background:url(/images/ui/storagelocator/footer-bg-strip.png) repeat-x; }
#footer .content_round_top { margin-top:40px;}
#footer .horizontal { color:#fff; }
#footer_btm { height:58px; color:#ebebeb; padding-top:21px; background:url(/images/ui/storagelocator/footer-bg-strip.png) repeat-x; }
#footer_btm, #footer a, #footer .horizontal li span { text-shadow:0 1px 2px #333; }
#footer_btm .right { margin-top:-3px; }
#footer_btm sup { vertical-align:super; }
#footer a { padding:11px 12px; }
#footer a:link { color:#fff;}
#footer a:visited { color:#dadada; }

a#greyrobot { padding:0; font-size:105%; }
a#greyrobot:link, a#greyrobot:visited { color:#ebebeb; }
a#greyrobot:hover, a#greyrobot:active { color:#818181; }
a#greyrobot span, a#greyrobot span { color:#818181;}
a#greyrobot:hover span, a#greyrobot:active span { color:#ebebeb;}

/** top btns **/
.half_round_btns { overflow:hidden; margin:41px 0 0 0; }
.half_round_btns > div { float:left; }
.half_round_btns > div div { padding:3px 0; }
.half_round_btns a { text-decoration:none; display:block; padding:6px 4px; background:url(/images/ui/storagelocator/btn-sm-bg-strip.png) repeat-x; }
.half_round_btns #btn1 { padding-left:15px; background:url(/images/ui/storagelocator/btn-sm-rnd-lft.png) no-repeat left center; }
.half_round_btns #btn1 div { padding-right:12px; background:url(/images/ui/storagelocator/btn-sm-sqr-rgt.png) no-repeat right center; }
.half_round_btns #btn2 { padding-right:15px; background:url(/images/ui/storagelocator/btn-sm-rnd-rgt.png) no-repeat right center; }
.half_round_btns #btn2 div { padding-left:12px; background:url(/images/ui/storagelocator/btn-sm-sqr-lft.png) no-repeat left center; }

/** helpers and plugins **/
.trans2opaq { opacity:.7; } /* initial value before js animates to opacity 1 on hover */
.link_div { cursor:pointer; }

/** Colors **/
.light_green, .notice { color:#98ca3c; }
.dark_green, .helptext .ajax_action { color:#006600; }
.purple { color:#444da0; }
.notice { border-color:#98ca3c; }
.helptext { border-color:#339933; }
.blue { color:#667abc;  }

/****** Theme customizations ******/
.wrap { width:1006px; }
.inner_wrap { width:895px; margin:0 auto; }
#footer_region_label, #header_region_label { position:absolute; }
.home .flash { margin-top:50px; }
.region_content_bottom { margin-top:0; }

/* forms */
.text_field, .text_area { margin-bottom:5px; }
.text_field input, .text_area textarea { opacity:.6; -moz-opacity:.6; font-size:100%; }

/* views */
.inner { padding:3px; }
.index > div { width:25.5%; }
.box_view .image img { width:100%; }
.shadow_wrap input[type!="checkbox"], .shadow_wrap textarea { width:99%; }
.small_textarea { height:60px; }

/* admin views */
#body .list_view { margin-top:10px; }
.list_view li { padding:8px 8px 10px; margin:7px 0; overflow:hidden; }
.list_view li.even { background-color:#fff; }
.list_view li > a { display:block; float:left; min-width:180px; }
.list_view li img { width:10%; }

#body .table_view { width:99%; }
.table_view { margin:10px 5px; width:99%; }
.table_view thead th { text-align:center; padding:3px 2px 5px 2px; font-size:95%; }
.table_view td { padding:7px; vertical-align:middle; }
.table_view tbody td { font-size:90%; }
.table_view td img { width:100px; }
.table_view .admin_options { text-align:center; }

/****** CONTENT CLASSES *******/
.wrap { padding:0; }
.content_round_top, .content_round_btm, .content_round_top2, .content_round_btm2 { height:33px; }
.content_round_top, .content_round_top2 { background:url(/images/ui/storagelocator/content-bg-top.png) no-repeat top center; }
.content_round_btm, .content_round_btm2 { background:url(/images/ui/storagelocator/content-bg-btm.png) no-repeat bottom center; }
.content_round_inner, .content_round_inner2 { background:url(/images/ui/storagelocator/content-bg-strip.png) repeat-y center; }
.content_inner, .content_inner2 { padding:0 37px; }

.large_box_round_top { height:38px; padding:10px 0 0 22px; background:url(/images/ui/storagelocator/box-round-top.png) no-repeat center top; }
.round { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
.box, .border_box { border:1px solid #c2c2cc;}
.borderButTop { border:1px solid #c2c2cc; border-top:0 none; }
.large_top_round { 
	-moz-border-radius-topleft:15px; 
	-moz-border-radius-topright:15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
}
.large_bottom_round { 
	-moz-border-radius-bottomleft:15px; 
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}
.small_bottom_round, .tabs .left a /* greyresults */ { 
	-moz-border-radius-bottomleft:4px; 
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
}
.large_round { 
	-moz-border-radius:15px; 
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.bottom_round { 
	-moz-border-radius-bottomleft:10px; 
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.right_round { 
	-moz-border-radius-topright:10px; 
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
.box_shadow { box-shadow:1px 0 2px #666; -moz-box-shadow:1px 0 2px #666; }
.box_shadow_bottom { 
	box-shadow:1px 1px 2px #818181;
	-webkit-box-shadow:1px 1px 2px #818181;
	-moz-box-shadow:1px 1px 2px #818181;
}
.small_inset_shadow /* greyresults */ {
	-moz-box-shadow:-3px -3px 4px #333333 inset; 
	box-shadow:-3px -3px 4px rgba(30,30,30,0.1) inset; 
	-webkit-box-shadow:-3px -3px 4px rgba(30,30,30,0.1) inset;
}
.medium_inset_shadow { 
	-moz-box-shadow:1px 1px 8px #333 inset; 
	box-shadow:1px 1px 8px rgba(30,30,30,0.1) inset; 
	-webkit-box-shadow:1px 1px 8px rgba(30,30,30,0.1) inset; 
}
.round_text_field { padding:5px 20px; }
.right_border { border-right:1px solid #d8d8d8; }

.WidgetFields { margin-bottom:14px; }
.shadow_wrap { margin-bottom:14px; }
.helptext, .shadow_wrap textarea { width:99.7%; }
.notice, .warning, .error { width:89.7%; }
.wysiwyg { height:400px; }
.model_options { position:absolute; right:0; }