<%= greyresult_panel_template listing do 
  '<div class="left small_framed">
    
    <h6>Boca\'s Newest and Finest Climate Controller Self Storage</h6>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor. sit amet, consectetur adipi sicing elit, sed do eiusmod tempor. 
    </p>
    
    <div class="large_round bg_grey">
      <br /><br /><br />
    </div>
    
  </div>
  
  <div class="right">
    
    <div class="google_map">
      <img src="images/ui/storagelocator/map.gif" alt="map" />
      
      <ul class="map_controls horizontal">
        <li class="bottom_round bg_grey"><a class="white" href="#">Get Directions</a></li>
        <li class="bottom_round bg_grey"><a class="white" href="#">Print a Map</a></li>
        <li class="bottom_round bg_grey"><a class="white" href="#">+</a></li>
      </ul>
    </div>
    
  </div>'
end %>